body {
    background-color: black;
    color: white;
}
/*Start Nav*/
.navbar {
    height: 150px;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url("../images/SunSet.PNG");
    background-size: 100% 100%;
    z-index: 1;
    position: relative;
}

.navbar-nav {
    font-weight: bolder;
    text-shadow: 2px 2px 0px black;
    font-size: 22pt;
}
.navbar .navbar-nav .nav-link {
    color: #fff;
    text-align: center;
    
}
.navbar .navbar-nav .nav-link:hover {
    color: rgb(255, 185, 119);
    text-shadow: 3px 3px 0px black;
  }
  
.logo {
    height: 130px; 
}
/*End Nav*/
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover {
    color: rgb(255, 123, 0);
}
.secheight {
    height: 90vh;
}
.herocontain {
    height: 200px;
    position: relative;
}
.hero-image {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/Blurrycar.PNG");
    /*Photo By Erik Hess from Facebook*/
    height: 90vh;
    /*image is fixed in background all other elements are scrolling*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background attachement makes image fixed*/
    background-attachment: fixed;
    position: relative;
}
.hero-text {
    text-align: center; 
    position: absolute; 
    top: 170%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #ffffff; 
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    font-size: 40pt;
    font-weight: bolder;
    font-family: 'Oleo Script', cursive;
}
/*change heading border color*/
.heroheading {
    border: 10px solid rgb(255, 136, 0);
    padding: 8px;
   /*make transparent background*/
    background-color: none;
    font-size: 10vw;
}
.contactbutton {
    align-items: center;
    padding: 8px; 
    background: none; 
    border: 3px solid rgb(255, 255, 255);
    color: #ffffff;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    font-size: 3vw;
    font-weight: bolder; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 70px;
}
input, select, textarea {
    width:50%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
}
/*adjusts imput submit*/
input[type=submit] {
    background-color: rgb(255, 136, 0);
    font-weight: bolder;
    padding: 12px 20px; 
    border: 3px solid black; 
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
}
/*adjusts imput submit on hover*/
input[type=submit]:hover {
    background-color: #000000;
    color: rgb(255, 136, 0);
}
/*container for the form*/
.formcontainer {
    color: #ffffff;
    padding: 50px;
    position: relative; 
    text-align: center;
}
/*adjusts lables for form*/
label {
    font-size: 30pt;
    text-shadow: 2px 2px 3px rgb(255, 136, 0);
}









.sunset {
        height: 150px;
        background-repeat: no-repeat;
        width: 100%;
        background-image: url("../images/SunSet.PNG");
        background-size: 100% 100%;
    }