*{
    margin: 0px 0px 0px;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
}
/*Start Navigation*/
/*Navigation*/
nav {
    position: fixed; 
    top: 0;
    /*z-index possitions and allows overlapping of elements*/
    z-index: 1;
}
.Navcontainer {
    width: 100%;
    height: 200px;    
}
.logo {
    float:left;
    height: 150px; 
    /*display block takes up a new line and avalible screen width*/
    display: block;
    margin: -20px 40px;
}
/*Navigation*/
nav {
    height: 300px;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url("../images/SunSet.PNG");
    background-size: 100% 50%;
    font-weight: bolder;
    font-size: 22pt;
    
}
/*ul in Navigation*/
.ulnavigation {
    list-style-type: none;
    overflow: hidden;  
    text-align: right;
    padding: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px black;
}
/*list in Navigation*/
.navlist {
    padding: 8px 16px;
    text-align: center;
}
nav .ulnavigation .navlist {
    margin: 20px 20px;
}
/*hover on click in Navigation*/
.navlist a:hover {
    color: rgb(255, 185, 119);
    text-shadow: 3px 3px 0px black;
}

/*links in Navigation*/
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover {
    color: rgb(255, 123, 0);
}
/*inline-block on Navigation, lists, and link*/
nav .ulnavigation .navlist {
    display:inline-block
}
/*end Navigation*/
/*start hero section*/
/*container for hero image and text*/
.herocontain {
    height: 200px;
    position: relative;
}
.hero-image {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/BrokenCar.PNG");
    /*Photo By Erik Hess from Facebook*/
    height: 717px;
    /*image is fixed in background all other elements are scrolling*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background attachement makes image fixed*/
    background-attachment: fixed;
    position: relative;
    top:-50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.hero-text {
    text-align: center; 
    position: absolute; 
    top: 150%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #ffffff; 
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    font-size: 40pt;
    font-weight: bolder;
    font-family: 'Oleo Script', cursive;
}
/*change heading border color*/
.heroheading {
    border: 10px solid rgb(255, 136, 0);
    padding: 8px;
   /*make transparent background*/
    background-color: none;
}
.contactbutton {
    align-items: center;
    padding: 8px; 
    background: none; 
    border: 3px solid rgb(255, 255, 255);
    color: #ffffff;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bolder; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 70px;
}
/*end hero section*/
/*begin column*/
.box1 {
    position: relative; 
    top: 469px;
}
.column {
    float: left; 
    width: 33.33%;
    height: 500px;
}
.row:before {
    content: "From the first time we opened shop...";
    display: table; 
    clear: both; 
    color: #ffffff;
    font-family: 'Molengo', sans-serif;
    font-size: 70pt;
    position: relative;
    padding-bottom: 70px;
    padding-top: 70px;
    /*Had to use positioning and transform translate to center text*/
    top:0%;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
}
.coowner {
    height: 400px;
    position: relative; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    box-shadow: -15px -15px 0px rgb(255, 136, 0);
}
.wetry {
    position: relative;
    text-align: center; 
    color:#ffffff;
    font-family: 'Molengo', sans-serif;
    font-size: 30pt;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.owner {
    height: 400px;
    box-shadow: 15px 15px 0px rgb(255, 136, 0);  
    position: relative; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    }
/*End column*/
/*start redcat image*/
.redcatbox{
    position: relative;
    top: 200px;
}

.redcatimage {
    width: 100%;
    position: relative;
    margin: 350px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*end redcat image*/
.autobox {
    margin-bottom: 190px;
    margin-top: -150px;
}
.auto2{
    color: white;
    font-size: 70pt;
    font-family: 'Molengo', sans-serif;
    text-align: center;
    position: relative;
    top: 80px;
}
/*start footer*/
footer {
    position: relative;
    bottom: 0%;
    margin: 200px 0px;
    clear: both;
}
.foot {
    width: 100%;
    height: 300px;
    margin: 60px 0px -400px;
    background-repeat: no-repeat;
    background-image: url("../images/SunSet.PNG");
    background-size: 100% 65%;
    font-weight: bolder;
    font-size: 22pt;
    clear:both;
    bottom: 0; 
}
.column1 {
    float: left;
    height: 33px;
    position: relative; 
}
.row1:after {
    content: "";
    display: table;
    clear: both;
  }
.colorb {
    width: 45%;
}
.colorc {
    width: 34%;
}
.colord {
    width: 21%
}
.logo2 {
        float:left;
        height: 300px;  
        position: relative;
        top: -40px;
        clear:both;
}
.fa-facebook-square {
    float: right; 
    color:rgb(0, 8, 255);
    text-shadow: -2px -2px 2px rgb(255, 255, 255);
    position: absolute; 
    top: 20px;
    right: 2%
}
.fa-facebook-square:hover {
    text-shadow: -2px -2px 2px black;
}
.telephone {
    clear: both;
    position: relative; 
    top: 159px;
    right: 2%;
    text-align: right;
}
/*end footer*/